body {
    padding: 10px;
}

table {
	margin-top: 30px;
	margin-left: 20px;
}

label {
	text-align: right;
	margin-right: 10px;
}

td {
	padding: 5px;
}
.btn_container {
	text-align: right;
}

.listing_img {
	max-width: 40%;
	max-height: 40%;
}

.img_container {
	margin-top: 15px;
	margin-bottom: 15px;
}

.comment_block {
	margin-top: 15px;
	margin-bottom: 15px;
	width:40%;
}

.comment_container {
	background-color: Gainsboro;
	padding: 5px;
	margin-bottom: 5px;
}

.category_label {
	color: grey;
}

.watch_container {
	margin-top: 15px;
}

.index_img {
	max-width: 20%;
	max-height: 20%;
	margin: 10px;
	float: left;
}

.index_item {
	background-color: Gainsboro;
	padding: 5px;
	margin-bottom: 5px;
	display: inline-block;
}

.index_desctription {
	float: right;
} 
