{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Items for sale in {{ category_name }} category</h2>

	<ul>
	{% for listing in category_listings %}
		<li> 
			<a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
			<p>Current Price: £
				{% if listing.current_bid %}
					{{ listing.current_bid.bid_amount }}
				{% else %}
					{{ listing.starting_bid }}
				{% endif %}

			</p>
			{% if listing.img_url %}
				<p><img src="{{ listing.img_url }}" alt="{{ listing.title }}"></p>
			{% endif %}
			<p>{{ listing.description }}</p>
		</li>
	{% empty %}
		There are no items in this category
	{% endfor %}
{% endblock %}
