{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ item.title }}</h2>
	<span>Category: {{ item.category }}</span>
	<p><img src="{{ item.img_url }}" alt="{{ listing.title }}"></p>
	<div>Starting bid: £{{ item.starting_bid }}</div>
	<span>Current price: £
		{% if bid %}
			{{ bid.bid_amount }}
		{% else %}
			{{ item.starting_bid }}
		{% endif %}
		
		{% if user.is_authenticated %}
			{% if user == bid.bidder %}
				<div>Your bid is currently the highest bid on this item.</div>
			{% else %}
				<form action="{% url 'make_bid' item.id %}" method="POST">
					{{ bid_form }}
					{% csrf_token %}
					<input type="submit" class="btn btn-primary" value="Submit Bid">
				</form>
			{% endif %}

			{% if is_watched %}
				<form action="{% url 'remove_watch' item.id %}" method="POST">
					{% csrf_token %}
					<input type="submit" class="btn btn-danger" value="Remove from Watchlist">
				</form>
			{% else %}
				<form action="{% url 'add_watch' item.id %}" method="POST">
					{% csrf_token %}
					<input type="submit" class="btn btn-primary" value="Add to  Watchlist">
				</form>
			{% endif %}
		{% endif %}
	</span>
	<p>{{ item.description }}</p>
	
{% endblock %}
