{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Your Watchlist</h2>

	{% for listing in watched_listings %}
		<div class="index_item"> 
			<a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
			<p>Current Price: £
				{% if listing.current_bid %}
					{{ listing.current_bid.bid_amount }}
				{% else %}
					{{ listing.starting_bid }}
				{% endif %}

			</p>
			{% if listing.img_url %}
				<img src="{{ listing.img_url }}" alt="{{ listing.title }}" class="index_img">
			{% endif %}
			<div class="index_discription">{{ listing.description }}</div>
		</div>
	{% empty %}
		Your watchlist is empty.
	{% endfor %}
{% endblock %}
